* {
    box-sizing: border-box;
}

#navbar-edit {
    background-color: rgba(0, 0, 0, 0.5);
}

#navbar-edit .dropdown-menu {
    background-color: #FFC312;
    color: black !important;
}

#navbar-edit .dropdown-item {
    color: black !important;
}
#navbar-edit .dropdown-item:hover {
    color: #e0424e !important;
    background-color: black;
    font-weight: bold;
}

#navbar-edit .menuBotones .cart a:hover{
    color: #FFC312 !important;
}

.menuBotones li a {
    color: white !important;
}

#sticky-nav {
    background-color: #c11808;
}

#sticky-nav .nav-link:hover {
    color: black !important
}

#navbarMenu .activeLink {
    color: white !important;
}

#navbarMenu .activeLink:hover {
    color: #e0424e !important;
}

.navbar-toggler {
    border-color: white !important;
}

.form-control-no-border:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-btn {
    color: #FFC312;
    background-color: white;
}

.search-btn:hover {
    background-color: #FFC312;
}

.noBoxShadow-btn:focus {
    box-shadow: none;
}

body {
    background: url(../img/wallpapers/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1rem;
    justify-content: center;
    /* padding-top: 20px; */
    /* margin: auto; */
}

/* h2 { text-shadow: 2px 2px 10px blue; } */
html, body {
    height: 100%;
}

div.container {
    justify-content: space-around;
    max-width: 85%;
}

div.card-deck {
    margin: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

footer a:hover{
    color: #FFC312 !important;
}

.card ul li {
    line-height: 90%;
}

.img06 {
    width: 100%;
    height: auto;
}

h5.card-title, p.card-text {
    font-size: 1em;
}

#wrap {
    min-height: 70%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
}

/*login*/
.login_card {
    margin-top: 3em;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header-login h3, .login-links {
    color: white;
}

.login-igp span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.login-igp-disabled span {
    width: 50px;
    background-color: grey;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.btn-save {
    color: black;
    background-color: #FFC312;
}

.btn-save:hover {
    color: black;
    background-color: green;
}

.login-links a {
    margin-left: 4px;
}

.products-table thead, .categories-table thead, .users-table thead {
    color: #FFC312;
}

.products-table tbody, .categories-table tbody, .users-table tbody {
    color: #c5b79d;
}

.products-table tbody tr:hover, .categories-table tbody tr:hover, .users-table tbody tr:hover {
    color: white;
}

.modal-category {
    background-color: rgba(0, 0, 0, 0.8) !important;
}