* {
    box-sizing: border-box;
}

#navbar-edit {
    background-image: url(../img/wallpaper/1.jpg);
    background-color: #2b2626;
    background-repeat: repeat;
    background-blend-mode: color-burn;
}

#navbar-edit .nav-link:hover {
    /* background: rgba(0, 0, 0, 0.25); */
    color: red !important;
}

#sticky-nav {
    /* background-color: #1b1b1b; */
    background-color: #c11808;
}

#sticky-nav .nav-link:hover {
    /* background-color: rgba(0, 0, 0, 0.25); */
    color: black !important
}

.menuBotones li a {
    color: white !important;
}

.menuBotones img {
    height: 1.5em;
}

.navbar-toggler {
    border-color: white !important;
}

.form-control-no-border:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* el botón de búsqueda */
.search-btn {
    color: rgb(0, 169, 186);
    background-color: white;
}

.search-btn:hover {
    background-color: rgb(0, 169, 186);
}

.noBoxShadow-btn:focus {
    box-shadow: none;
}

body {
    background-image: url(../img/wallpaper/1.jpg);
    background-repeat: repeat;
    font-size: 1rem;
    justify-content: center;
    /* padding-top: 20px; */
    /* margin: auto; */
}

/* h2 { text-shadow: 2px 2px 10px blue; } */
html, body {
    height: 100%;
}

#registro_box {
    margin: auto;
}

div.container {
    justify-content: space-around;
    max-width: 85%;
}

.productos {
    margin-top: 30px;
}

div.card-deck {
    margin: 0;
}

.renglon {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2b2626;
    background-image: url(../img/wallpaper/1.jpg);
    background-repeat: repeat;
    background-blend-mode: color-burn;
}

.card ul li {
    line-height: 90%;
}

.img06 {
    width: 100%;
    height: auto;
}

h5.card-title {
    font-size: 1em;
}

p.card-text {
    font-size: 1em;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

.ingreso {
    margin-top: 150px;
    border: silver 10px solid;
    border-radius: 3%;
    padding: 10px;
    /*width: 30rem;*/
    background: rgba(13, 36, 67, 0.20);
}

#wrap {
    min-height: 70%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
}

/* Configuración barra Buscar en el navbar */
.form-control-buscar {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.form-control {
    padding-left: 35px !important;
}

/* Fin configuración barra buscar navbar */

/*login*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url(../img/wallpaper/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.8) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
